* {
  margin: 0px;
  padding: 0px;
  background: whitesmoke;
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
}

body {
  font-family: Helvetica;
  font-size: 16px;
}

em {
  font-style: normal;
  background:inherit;
  font-weight: bold;
  color: Chocolate;
}

.left{
  text-align: left
}
  
#main {
  width: 800px;
  background: #303030;
  margin: 0 auto 0 auto;
  padding: 0;
  box-shadow: 0 0 5px 5px #808080;
}

#logo {
  width: 100%;
  height: 120px;
  text-align: right;
  background: #004678;
  background: black;
}

#logo h1,#logo h2 {
  background: inherit;
  margin: 0 auto 0 auto;
  padding: 10px 20px;
}

#logo h1 {
  font-weight:bold;
  font-size:2.5em;
  color: GhostWhite ;
  /*text-shadow: 1px 1px 1px Chocolate;*/
}

#logo h2 {
  /*text-shadow: 1px 1px SaddleBrown;*/
  font-size:1.0em;
  color: Chocolate;
  font-style: italic;
}

#topnav {
  padding: 0px 0px 0px 0px;
  height: 45px;
  width: 100%;
  width: 800px;
  background: Chocolate;
}

#topnav .tab a{
  display: block;
  float: left;
  text-align: center;
  line-height: 45px;
  width: 120px;
  color: black;
  text-decoration: none;
  border-width: 1px;
  border-right-style:dotted;
  background: Chocolate;
  font-size: 1.2em;
}

#topnav .tab a:hover {
  /*background-image: url(button.png);*/
  /*background-position: bottom left;*/
  /*background-repeat: no-repeat;*/
  background: SaddleBrown;
}

#topnav .tab .active {
  color: GhostWhite ;
  background: SaddleBrown;
  border-color: black;
}

#topnav .social div{
  margin-right:15px;
}

#topnav .social a{
  display: block;
  float: right;
  background: transparent;
  color: #D1E751;
  font-weight: bold;
  padding: 7px 5px 0 0px;
}

#topnav .social a:hover {
  padding: 2px 5px 0 0px;
}

#topnav .social img{
  background: transparent;
}

/***MAIN CONTENT (WHITE) AREA***/

#content {
  padding: 20px 50px;
  background: white;
  clear: both;
  text-align: justify;
  margin: 0 auto 0 auto;
  line-height: 1.5em;
  }


#content h1{
  /*text-shadow: 1px 1px #333;*/
  background: inherit;
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 15px;
  padding-top: 15px;
  letter-spacing:0px;
  color: Chocolate;
}

#content p {
  background: inherit;
  color: DimGray;
  margin-top: 0px;
  margin-bottom: 0px;
}

#content a{
  background: white;
  color: SaddleBrown;
  text-decoration: none;
  font-weight:bold;
  }

#content a:hover {
  background-color: SaddleBrown;
  color: white;
}

#content pre {
  white-space: pre-wrap;   
  margin: 25px;
  padding: 25px;
  border: 2px dashed #b0b0b0;
  border-radius: 0px;
  background: #f4f4f4;
  font-size: 0.8em;
  font-family: monospace, Courier;
  color: DimGray;
  text-align: left;
}

#content ul{
  background: inherit;
  list-style: none;
  list-style-image:url('item-pin.png');
  list-style-position:inside;
  color: DimGray;
  margin-top:15px;
  border: 1px solid transparent;
}

#content ul li{
  margin-bottom:0.3em;
  background: inherit;
}

#content ul.paper{
  list-style-image:url('item-paper.png');
}

#content ul.paper li{
  margin-bottom:1em;
  vertical-align: middle;
}

#content img.photo{
  float: right;
  margin-left: 15px;
  margin-right: 15px;
  box-shadow: 3px 3px 4px #000;
  border: 2px solid #b0b0b0;
}

#content p.centered{
  text-align:center;
  margin: 20px;
}

img.shadow{
  box-shadow: 3px 3px 4px #000;
  border: 2px solid #b0b0b0;
}


/***FOOTER***/

#begin_footer{
  height: 60px;
  background: white url(bg_bottom_2.png) repeat-x;
  background-position: bottom;
}

#footer{
  clear: both;
  text-align: center;
  background: red;
  color: GhostWhite;
  line-height: 1.5em;
}

#footer img {
  background: transparent;
}

#footer p {
  background: black;
}

#footer a {
  background: black;
}
